<header>
<nav class="navbar">
    <div id="logo" href="/discO">
      <div id="disco">
      <a  href="/discO" class="navbarBrand" id="logo1">disc</a>
      <a  href="/discO" class="navbarBrand">
      <img src="logo.png" alt="O" class="d-inline-block align-top" id="logo2"/></a>
      </div>
    </div>
    <ul >
      <li class="navItem toggling" id="librarylink">
        <a href="library" class="navLink">Library</a>
      </li>
      <li class="navItem toggling" id="artistlink">
        <a href="artists" class="navLink">Artists</a>
      </li>
      
      <li class="navItem toggling" id="top10link">
        <a href="top10" class="navLink">Top 10</a>
      </li>
      <li class="navItem toggling" id="alllink">
        <a href="all" class="navLink">All</a>
      </li>
    </ul>
    <form action="/find" class="search" id="toggling" method = "post">
      <label id="s-icon" class= "toggling" for="search-box">&telrec;</label>
      <input type="text" name="search" class ="toggling" id="search-box" placeholder="Search Songs..." autocomplete="off"/>
    </form>
    <button id="toggle">&equiv;</button>
  </nav> 
</header>
  <!-- <header class>
    <nav class="navbar">
      <div id="logo">
        <div id="disco">
        <a  href="/home" class="navbar-brand" id="logo1">disc</a>
        <a  href="/home" class="navbarBrand">
          <img src="logo.png" alt="o" class="d-inline-block align-top" id="logo2"/></a>
      </div>
      <button id="toggle">&equiv;</button>
        <ul class="navbar-nav mx-auto toggling" id="navbar">
          <li class="nav-item" id="librarylink">
            <a href="library" class="nav-link">Library</a>
          </li>
          <li class="nav-item" id="artistlink">
            <a href="artists" class="nav-link">Artists</a>
          </li>
          
          <li class="nav-item" id="top10link">
            <a href="top10" class="nav-link">Top 10</a>
          </li>
          <li class="nav-item" id="aboutlink">
            <a href="aboutus" class="nav-link">About Us</a>
          </li>
        </ul>
        
        <form action="#search">
            <label for="search-box">&telrec;</label>
            <input type="text" name="search-box" id="search-box" placeholder="Search Songs.." autocomplete="off" >
        </form>
        
    </nav>
    <script src="navbar.js"></script>


  </header>

   -->