
/*#t10{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 13em;
    margin-bottom: 13em;
}

.topimg{
    height: 250px;
    background-size: cover;
}


.top{
    display: inline-block;
    background-color: brown;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    margin:1em;
}
*/